#include <windows.h>
#include "tfmon.h"

IDD_ICON ICON "../commons/icon.ico"


IDD_DIALOG_ACTIVITY DIALOGEX	0, 0, 319, 219
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "TaggerUI FileSystem monitor - Logs"
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL			"", IDC_TAB, "SysTabControl32", WS_CHILD | TCS_FOCUSNEVER, 4, 4, 311, 194
	PUSHBUTTON		"OK",		IDOK,		270, 201,  45,  14
END


IDD_DIALOG_ABOUT DIALOGEX	0, 0, 319, 219
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "TaggerUI FileSystem monitor - About"
FONT 8, "MS Sans Serif"
BEGIN
	PUSHBUTTON		"OK",		IDOK,		270, 201,  45,  14
	CONTROL "", -1, "static", WS_CHILD | WS_VISIBLE, 5, 3, 181, 51
	ICON IDD_ICON, -1, 20, 63, 18, 15
	CTEXT "Tagger UI monitor", -1,  66, 53, 210, 17
	CTEXT "Daemon for monitoring filesystem changes.", -1,  66, 65, 210, 17
	CTEXT "Tagger UI suite - (C) Copyright 2016 Cedric Francoys, 2016, Yegen", -1, 66, 77, 210, 17
	CTEXT "Some Right Reserved, GNU GPL 3 license", -1,  66, 89, 210, 17	
END


// filesystem activity log
IDD_ACTIVITY_PANE_ONE DIALOGEX 1, 13, 307, 175
STYLE WS_CHILDWINDOW | WS_CLIPSIBLINGS | WS_VISIBLE
FONT 8, "MS Sans Serif"
BEGIN
	LISTBOX         ID_LOG_FS,	7, 7, 293,  165,
					LBS_NOINTEGRALHEIGHT |  LBS_NOSEL | WS_VSCROLL | WS_HSCROLL
END

// tagger commands log
IDD_ACTIVITY_PANE_TWO DIALOGEX 1, 13, 307, 175
STYLE WS_CHILDWINDOW | WS_CLIPSIBLINGS
FONT 8, "MS Sans Serif"
BEGIN
	EDITTEXT        ID_LOG_TAGGER, 7, 7, 293,  165, WS_VSCROLL | WS_HSCROLL | ES_READONLY | ES_MULTILINE
END

// application log
IDD_ACTIVITY_PANE_THREE DIALOGEX 1, 13, 307, 175
STYLE WS_CHILDWINDOW | WS_CLIPSIBLINGS
FONT 8, "MS Sans Serif"
BEGIN
//	CONTROL      "", ID_LIST_FILES,"SysListView32",WS_BORDER | LVS_REPORT | LVS_SINGLESEL | WS_TABSTOP,12,18,260,153,WS_EX_CLIENTEDGE
	LISTBOX         ID_LOG_APP,	7, 7, 293,  165,
					LBS_NOINTEGRALHEIGHT |  LBS_NOSEL | WS_VSCROLL | WS_HSCROLL
END


STRINGTABLE 
BEGIN
 IDD_ACTIVITY_PANE_ONE, "Filesystem activity"
 IDD_ACTIVITY_PANE_TWO, "Tagger commands"
 IDD_ACTIVITY_PANE_THREE, "Application status"
END

ID_POPUP_MENU MENU DISCARDABLE
BEGIN
POPUP "CONTEXTMENU"
	BEGIN
	MENUITEM "&Activity log",	IDD_DIALOG_ACTIVITY
	MENUITEM "&Settings",		IDD_DIALOG_SETTINGS
	MENUITEM "A&bout",			IDD_DIALOG_ABOUT
	MENUITEM SEPARATOR
	MENUITEM "Quit",			IDM_QUIT
	END
END