#include <windows.h>
#include "taggerui.h"

IDD_ICON ICON "icon.ico"

IDD_DIALOG DIALOG DISCARDABLE  0, 0, 309, 190
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Tagger UI - file search"
FONT 8, "MS Sans Serif"
BEGIN
//    PUSHBUTTON		"OK",IDOK,		258, 174,  45,  14

	LISTBOX         ID_LIST_FILES,		 12,  55, 285, 120,
					LBS_NOINTEGRALHEIGHT | LBS_SORT | WS_VSCROLL | WS_TABSTOP

	LISTBOX         ID_LIST_TAGS_ALL,	0,  0, 0, 0, LBS_SORT | LBS_NOREDRAW

    GROUPBOX        "Tag selection",
					IDC_STATIC,			  7,   7, 295, 33
    GROUPBOX        "Matching files",
					IDC_STATIC,			  7,   42, 295, 140

	EDITTEXT        ID_TAGNAME,		 	 12,  20, 285, 12

	LISTBOX         ID_LIST_TAGS_AVAIL,	 12,  32, 285, 80,
					LBS_NOINTEGRALHEIGHT | LBS_SORT | LBS_NOTIFY | WS_TABSTOP | WS_VSCROLL | WS_DISABLED


END

ID_POPUP_MENU MENU DISCARDABLE
BEGIN
POPUP "CONTEXTMENU"
	BEGIN
//	MENUITEM "&Open",				IDM_OPEN
	MENUITEM "&Explore here...",	IDM_EXPLORE
	MENUITEM "&Copy path",			IDM_COPYPATH
	MENUITEM "&Tag file...",		IDM_TAG
	END
END