#include <windows.h>
#include "taggerui.h"

IDD_ICON ICON "icon.ico"


IDD_SPLASH DIALOG DISCARDABLE  0, 0, 250, 50
STYLE DS_MODALFRAME | DS_CENTER | WS_OVERLAPPEDWINDOW | WS_CAPTION | WS_SYSMENU
CAPTION "Tagger UI - file tagging"
FONT 8, "MS Sans Serif"
BEGIN
	CTEXT           "Reading tags database. . . ",
					-1, 10, 20, 230,  8

END

IDD_DIALOG DIALOG DISCARDABLE  0, 0, 309, 190
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Tagger UI - file tagging"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON		"OK",		IDOK,		258, 174,  45,  14
	LISTBOX         ID_LIST_TAGS_SET,	12,  35, 260,45,
					LBS_NOINTEGRALHEIGHT | LBS_MULTIPLESEL | LBS_EXTENDEDSEL | LBS_SORT | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      " - ",		ID_REMOVE,	282, 67,  16,  14, WS_DISABLED
    DEFPUSHBUTTON	" + ",		ID_ADD,		282, 152,  16,  14, WS_DISABLED
    GROUPBOX        "File",		
					IDC_STATIC,	 7,  7, 295, 80
	LTEXT           "",
					ID_FILENAME, 12, 20, 260,  8
	GROUPBOX        "Add tag",	
					IDC_STATIC,	 7, 92, 295, 80
	EDITTEXT        ID_TAGNAME,  12,  105, 260,  12, ES_WANTRETURN
	LISTBOX         ID_LIST_TAGS_ALL,	12,  120, 0, 0, LBS_SORT | LBS_NOREDRAW
	LISTBOX         ID_LIST_TAGS_AVAIL,	12,  120, 260,45,
					LBS_NOINTEGRALHEIGHT | LBS_MULTIPLESEL | LBS_EXTENDEDSEL | LBS_SORT | WS_VSCROLL | WS_TABSTOP
END