#include <windows.h>
#include "tftag.h"

IDD_ICON ICON "../commons/icon.ico"


IDD_SPLASH DIALOG DISCARDABLE  0, 0, 250, 50
STYLE DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_SYSMENU
CAPTION "Tagger UI - file tagging"
FONT 8, "MS Sans Serif"
BEGIN
	CTEXT           "Reading tags database. . . ",
					-1, 10, 20, 230,  8

END

IDD_DIALOG DIALOGEX	0, 0, 319, 219
STYLE DS_MODALFRAME | WS_CLIPCHILDREN | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "Tagger UI - file tagging"
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL			"", IDC_TAB, "SysTabControl32", WS_CHILD | TCS_FOCUSNEVER, 4, 4, 311, 194
	PUSHBUTTON		"OK",		IDOK,		270, 201,  45,  14
END



IDD_PANE_ONE DIALOGEX 1, 13, 307, 175
STYLE WS_CHILDWINDOW | WS_CLIPSIBLINGS | WS_VISIBLE
FONT 8, "MS Sans Serif"
BEGIN
	LISTBOX         ID_LIST_TAGS_SET,	12,  33, 260,45,
					LBS_NOINTEGRALHEIGHT | LBS_MULTIPLESEL | LBS_EXTENDEDSEL | LBS_SORT | WS_VSCROLL | WS_TABSTOP

	GROUPBOX        "File(s) and applied tag(s)",		
					IDC_STATIC,	 7,  5, 295, 80, BS_GROUPBOX
	LTEXT           "",
					ID_FILENAME, 12, 18, 260,  8
	LISTBOX         ID_LIST_TAGS_ALL,	12,  120, 0, 0, LBS_SORT | LBS_NOREDRAW
	LISTBOX         ID_LIST_TAGS_TMP,	12,  120, 0, 0, LBS_SORT | LBS_NOREDRAW

	GROUPBOX        "Add tag",	
					IDC_STATIC,	 7, 90, 295, 80
	EDITTEXT        ID_TAGNAME,  12,  103, 260,  12, ES_WANTRETURN

	LISTBOX         ID_LIST_TAGS_MATCH,	12,  118, 260,45,
					LBS_NOINTEGRALHEIGHT | LBS_MULTIPLESEL | LBS_EXTENDEDSEL | LBS_SORT | WS_VSCROLL | WS_TABSTOP

    PUSHBUTTON      " - ",		ID_REMOVE,	282, 65,  16,  14, WS_DISABLED
    DEFPUSHBUTTON	" + ",		ID_ADD,		282, 150,  16,  14, WS_DISABLED
END

IDD_PANE_TWO DIALOGEX 1, 13, 307, 175
STYLE WS_CHILDWINDOW | WS_CLIPSIBLINGS
FONT 8, "MS Sans Serif"
BEGIN
//	CONTROL      "", ID_LIST_FILES,"SysListView32",WS_BORDER | LVS_REPORT | LVS_SINGLESEL | WS_TABSTOP,12,18,260,153,WS_EX_CLIENTEDGE
	LISTBOX         ID_LIST_FILES,		7,  7, 293, 165, LBS_NOINTEGRALHEIGHT | LBS_MULTIPLESEL | LBS_EXTENDEDSEL | LBS_SORT | WS_VSCROLL
END


IDD_PANE_THREE DIALOGEX 1, 13, 307, 175
STYLE WS_CHILDWINDOW | WS_CLIPSIBLINGS
FONT 8, "MS Sans Serif"
BEGIN
	EDITTEXT        ID_LOG, 7, 7, 293,  165, WS_VSCROLL | WS_HSCROLL | ES_READONLY | ES_MULTILINE | WS_EX_CLIENTEDGE
END


STRINGTABLE 
BEGIN
 IDD_PANE_ONE, "Apply tags"
 IDD_PANE_TWO, "Selected files"
 IDD_PANE_THREE, "Logs"
END